<h1>Deadshot</h1>

<style type="text/css">
	table { font-size: 2em; text-align: center; }
</style>


<h2>Intentos <%= @@juego.contador_intentos  %> de  <%= @@juego.total_intentos  %></h2>

<h2>Seleccione la posición a disparar</h2>

<table width="80%" align="center" cellpadding="10" cellspacing="0" border="1">
	<tr>
		<td> <a href="/disparar?p=1">1</a></td>
		<td> <a href="/disparar?p=2">2</a></td>
	</tr>
</table>

<h2><%= @resultado %></h2>
